@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: open sans, helvetica, sans serif;
    color: whitesmoke;
}

h1, h2 {
    font-family: 'Kaushan Script', cursive;
    color: rgb(255, 208, 0);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

#motovational-message {
    font-family: 'Kaushan Script', cursive;
    color: whitesmoke;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

#nav-container {
    height: 120px;
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
}

#logo {
    width: 225px;
    margin-left: 10%;
    float: left;
    margin-top: 10px;
    position: absolute;
}

#nav-wrapper {
    float: right;
    margin-right: 10%;
    height: 120px;
}

.nav-outter-box {
    height: 100px;
    width: 150px;
    margin: auto;
    display: inline-block;
}

a {
    text-decoration: none;
    color: rgb(255, 208, 0);
}

/* Nav Link Styles */

#nav-home-inner-box {
    height: 75px;
    width: 150px;
    margin: auto;
    margin-top: 70px;
    position: relative;
}

#nav-home-inner-box > a {
    text-decoration: none;
    color: whitesmoke;
}

#nav-things-to-do-inner-box {
    height: 75px;
    width: 150px;
    margin: auto;
    margin-top: 70px;
    position: relative;
}

#nav-things-to-do-inner-box > a {
    text-decoration: none;
    color: whitesmoke;
}

#nav-getting-around-inner-box {
    height: 75px;
    width: 150px;
    margin: auto;
    margin-top: 70px;
    position: relative;
}

#nav-getting-around-inner-box > a {
    text-decoration: none;
    color: whitesmoke;
}

#nav-gallery-inner-box {
    height: 75px;
    width: 150px;
    margin: auto;
    margin-top: 70px;
    position: relative;
}

#nav-gallery-inner-box > a {
    text-decoration: none;
    color: whitesmoke;
}

#nav-contact-us-inner-box {
    height: 75px;
    width: 150px;
    margin: auto;
    margin-top: 70px;
    position: relative;
}

#nav-contact-us-inner-box > a {
    text-decoration: none;
    color: whitesmoke;
}

/* Nav Stamp Styles */

#contact-us-stamp {
    height: 10px;
    width: 150px;
    background-color: magenta;
    margin: auto;
    display: inline-block;
}

#gallery-stamp {
    height: 10px;
    width: 150px;
    background-color: green;
    margin: auto;
    display: inline-block;
}

#getting-around-stamp {
    height: 10px;
    width: 150px;
    background-color: yellow;
    margin: auto;
    display: inline-block;
}

#things-to-do-stamp {
    height: 10px;
    width: 150px;
    background-color: blue;
    margin: auto;
    display: inline-block;
}

#home-stamp {
    height: 10px;
    width: 150px;
    background-color: red;
    margin: auto;
    display: inline-block;
}

#contact-us-stamp-select {
    height: 20px;
    width: 150px;
    background-color: magenta;
    margin: auto;
    display: inline-block;
}

#gallery-stamp-select {
    height: 20px;
    width: 150px;
    background-color: green;
    margin: auto;
    display: inline-block;
}

#getting-around-stamp-select {
    height: 20px;
    width: 150px;
    background-color: yellow;
    margin: auto;
    display: inline-block;
}

#things-to-do-stamp-select {
    height: 20px;
    width: 150px;
    background-color: blue;
    margin: auto;
    display: inline-block;
}

#home-stamp-select {
    height: 20px;
    width: 150px;
    background-color: red;
    margin: auto;
    display: inline-block;
}

/* This is the footer style section */

footer {
    margin-top: auto;
    height: 50px;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
}

#social-media-link-container {
    margin: auto;
    margin-left: 10%;
}

#social-media-link-text {
    margin-right: 30px;
    display: inline-block;
}

#social-media-link {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-right: 15px;
    display: inline-block;
}

/* This is the index-body style section */

#index-body-image-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    margin: auto;
    margin-bottom: 5%;
}

#index-body-image {
    width: 100%;
    height: 100%;
    background: url(../images/wellington-city-from-mt-vic-2.jpg) no-repeat center center;
    background-size: cover;
    position: fixed;
}

#welcome {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-left: 20%;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    border-radius: 10px;
    border: 2px solid darkgray;
    padding-bottom: 20px;
}

#index-welcome {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-left: 20%;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    border-radius: 10px;
    border: 2px solid darkgray;
    padding-bottom: 20px;
}

#welcome-content {
    color: whitesmoke;
    text-align: center;
    position: relative;
    padding: 7%;
}

/* This is the things-to-do style section */

#things-to-do-body-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    margin: auto;
    margin-bottom: 5%;
}

#things-to-do-body-image {
    width: 100%;
    height: 100%;
    background: url(../images/wellington-city-from-mt-vic-3.jpg) no-repeat center center;
    background-size: cover;
    position: fixed;
}

#things-to-do-welcome {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-left: 20%;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    border-radius: 10px;
    border: 2px solid darkgray;
}

#things-to-do-content {
    padding: 7%;
}

#things-to-do-content {
    color: whitesmoke;
    text-align: center;
}

.things-to-do-text {
    text-align: justify;
    width: 75%;
    float: right;
}

#things-to-do-right-text {
    display: inline-block; 
    width: 100%;
}

#things-to-do-left-text {
    display: inline-block; 
    width: 100%;
}

#te-papa-section {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-right: 10%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid darkgray;
    float: right;
}

#te-papa-thumb {
    height: 200px;
    width: 200px;
    background-image: url(../images/te-papa-thumb.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 5px solid darkgray;
    float: left;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#bot-gardens-section {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid darkgray;
    float: left;
}

#bot-gardens-thumb {
    height: 200px;
    width: 200px;
    background-image: url(../images/bot-gardens-thumb.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 5px solid darkgray;
    float: left;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#welly-trails-section {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-right: 10%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid darkgray;
    float: right;
}

#welly-trails-thumb {
    height: 200px;
    width: 200px;
    background-image: url(../images/wellington-trails-thumb.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 5px solid darkgray;
    float: left;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#weta-workshop-section {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid darkgray;
    float: left;
}

#weta-workshop-thumb {
    height: 200px;
    width: 200px;
    background-image: url(../images/weta-workshop-thumb.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 5px solid darkgray;
    float: left;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#zealandia-section {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 12.5%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid darkgray;
    float: right;
}

#zealandia-thumb {
    height: 200px;
    width: 200px;
    background-image: url(../images/zealandia-thumb.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 5px solid darkgray;
    float: left;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

/* This is getting-around style section */

#getting-around-body-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    margin: auto;
}

#getting-around-body-image {
    width: 100%;
    height: 100%;
    background: url(../images/wellington-cable-car.jpg) no-repeat center center;
    background-size: cover;
    position: fixed;
}

#getting-around-welcome {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-left: 20%;
    margin-top: 7.5%;
    margin-bottom: 7.5%;
    border-radius: 10px;
    border: 2px solid darkgray;
}

#getting-around-content {
    padding: 7%;
}

#getting-around-content {
    color: whitesmoke;
    text-align: center;
}

#getting-around-section {
    width: 90%;
    position: relative;
    margin: auto;
    margin-top: 10%;
}

#wellington-trains-thumb {
    background-image: url(../images/wellington-trains.jpg);
    background-repeat: no-repeat;
    width: 850px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin: auto;
    border-radius: 10px;
    border: 2px solid darkgray;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#wellington-bus-thumb {
    background-image: url(../images/wellington-buses.jpg);
    width: 850px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin: auto;
    margin-top: 2%;
    border-radius: 10px;
    border: 2px solid darkgray;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#wellington-rentals-thumb {
    background-image: url(../images/wellington-rentals.jpg);
    width: 850px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin: auto;
    margin-top: 2%;
    border-radius: 10px;
    border: 2px solid darkgray;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#wellington-airport-thumb {
    background-image: url(../images/wellington-airport.jpg);
    width: 850px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin: auto;
    margin-top: 2%;
    border-radius: 10px;
    border: 2px solid darkgray;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#getting-around-text {
    width: 75%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    border-radius: 10px;
    border: 2px solid darkgray;
    text-align: center;
    padding: 20px;
}
#getting-around-text-airport{
    width: 75%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 14%;
    border-radius: 10px;
    border: 2px solid darkgray;
    text-align: center;
    padding: 20px;
}

/* This is gallery style section */

#gallery-heading {
    font-size: 250%;
    text-align: center;
    position: relative;
    margin-top: 20px;
}

#gallery-body-image-container {
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    margin: auto;
}

#gallery-body-image {
    width: 100%;
    height: 100%;
    background: url(../images/wellington-night.jpg) no-repeat center center;
    background-size: cover;
    position: fixed;
}

#gallery-welcome {
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 12.5%;
}

#gallery-photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#gallery-photos > img {
    width: 100%;
}

/* This is contact-us style section */

#contact-us-body-image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
}

#contact-us-body-image {
    width: 100%;
    height: 100%;
    background: url(../images/wellington-city-bucket-fountain.png) no-repeat center center;
    background-size: cover;
    position: fixed;
}

#contact-us-welcome {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    margin-left: 20%;
    margin-top: 6%;
    border-radius: 10px;
    border: 2px solid darkgray;
}

#contact-us-content {
    padding: 7%;
}

#contact-us-content {
    color: whitesmoke;
    text-align: center;
    position: relative;
}

#contact-us-form-content {
    margin: auto;
}

.form-button {
    width: 100px;
    height: 25px;
    background-color: rgb(255, 208, 0);
    font-weight: bold;
}

.form-button:hover {
    background-color: black;
    color: rgb(255, 208, 0);
}

.form-input-text-field {
    width: 300px;
    text-align: center;
    border: 1px solid darkgray;
}

label, input, textarea {
    margin-bottom: 1%;
}






@media screen and (max-width: 1900px) {

    #logo {
        width: 225px;
        padding-left: 50px;
        float: left;
        margin-top: 10px;
        position: absolute;
    }

    #nav-wrapper {
        float: right;
        padding-right: 50px;
        height: 120px;
    }

    #social-media-link-container {
        margin: auto;
        margin-left: 50px;
    }

    .nav-outter-box {
        height: 100px;
        width: 100px;
        margin: auto;
        display: inline-block;
    }
    
    #nav-home-inner-box > a {
        font-size: 80%;
    }

    #nav-things-to-do-inner-box > a {
        font-size: 80%;
    }

    #nav-getting-around-inner-box > a {
        font-size: 80%;
    }

    #nav-gallery-inner-box > a {
        font-size: 80%;
    }

    #nav-contact-us-inner-box > a {
        font-size: 80%;
    }
    
    #nav-home-inner-box {
        width: 100px;
    }
    
    #nav-things-to-do-inner-box {
        width: 100px;
    }
    
    #nav-getting-around-inner-box {
        width: 100px;
    }
    
    #nav-gallery-inner-box {
        width: 100px;
    }
    
    #nav-contact-us-inner-box {
        width: 100px;
    }
    
    #contact-us-stamp {
        width: 100px;
    }
    
    #gallery-stamp {
        width: 100px;
    }
    
    #getting-around-stamp {
        width: 100px;
    }
    
    #things-to-do-stamp {
        width: 100px;
    }
    
    #home-stamp {
        width: 100px;
    }
    
    #contact-us-stamp-select {
        width: 100px;
    }
    
    #gallery-stamp-select {
        width: 100px;
    }
    
    #getting-around-stamp-select {
        width: 100px;
    }
    
    #things-to-do-stamp-select {
        width: 100px;
    }
    
    #home-stamp-select {
        width: 100px;
    }

    #gallery-photos {
        clear: both;
        line-height: 0;
        column-count: 3;
        column-gap: 0;
    }

    .things-to-do-text {
        text-align: center;
        margin: auto;
        float: none;
        margin-top: 20px;
    }

    #things-to-do-welcome {
        margin-bottom: 5%;
    }

    #te-papa-section {
        margin: auto;
        float: none;
    }

    #te-papa-thumb {
        margin: auto;
        float: none;
    }

    #bot-gardens-section {
        margin: auto;
        float: none;
        margin-top: 20px;
    }

    #bot-gardens-thumb {
        margin: auto;
        float: none;
    }

    #weta-workshop-section {
        margin: auto;
        float: none;
        margin-top: 20px;
    }

    #weta-workshop-thumb {
        margin: auto;
        float: none;
    }

    #welly-trails-section {
        margin: auto;
        float: none;
        margin-top: 20px;
    }

    #welly-trails-thumb {
        margin: auto;
        float: none;
    }

    #zealandia-section {
        margin: auto;
        float: none;
        margin-top: 20px;
    }

    #zealandia-thumb {
        margin: auto;
        float: none;
    }

}


@media screen and (max-width: 1110px) {
    #logo {
        width: 225px;
        margin-left: 25px;
        margin-top: 10px;
        position: absolute;
        padding: 0;
    }

    #nav-wrapper {
        float: right;
        margin-right: 25px;
        height: 120px;
        padding: 0;
    }

    #social-media-link-container {
        margin: auto;
        margin-left: 25px;
    }

    .nav-outter-box {
        height: 100px;
        width: 100px;
        margin: auto;
        display: inline-block;
    }
    
    #nav-home-inner-box > a {
        font-size: 80%;
    }

    #nav-things-to-do-inner-box > a {
        font-size: 80%;
    }

    #nav-getting-around-inner-box > a {
        font-size: 80%;
    }

    #nav-gallery-inner-box > a {
        font-size: 80%;
    }

    #nav-contact-us-inner-box > a {
        font-size: 80%;
    }
    
    #nav-home-inner-box {
        width: 100px;
    }
    
    #nav-things-to-do-inner-box {
        width: 100px;
    }
    
    #nav-getting-around-inner-box {
        width: 100px;
    }
    
    #nav-gallery-inner-box {
        width: 100px;
    }
    
    #nav-contact-us-inner-box {
        width: 100px;
    }
    
    #contact-us-stamp {
        width: 100px;
    }
    
    #gallery-stamp {
        width: 100px;
    }
    
    #getting-around-stamp {
        width: 100px;
    }
    
    #things-to-do-stamp {
        width: 100px;
    }
    
    #home-stamp {
        width: 100px;
    }
    
    #contact-us-stamp-select {
        width: 100px;
    }
    
    #gallery-stamp-select {
        width: 100px;
    }
    
    #getting-around-stamp-select {
        width: 100px;
    }
    
    #things-to-do-stamp-select {
        width: 100px;
    }
    
    #home-stamp-select {
        width: 100px;
    }

    #zealandia-section {
        margin-bottom: 20%;
    }

    #getting-around-text-airport {
        margin-bottom: 22%;
    }
}




@media screen and (max-width: 375px) {

    #welcome {
        width: 80%;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    #te-papa-thumb {
        width: 100px;
        height: 100px;
    }

    #bot-gardens-thumb {
        width: 100px;
        height: 100px;
    }

    #welly-trails-thumb {
        width: 100px;
        height: 100px;
    }

    #weta-workshop-thumb {
        width: 100px;
        height: 100px;
    }

    #zealandia-thumb {
        width: 100px;
        height: 100px;
    }

    #wellington-trains-thumb {
        width: 80%;
        height: 100px;
        background-size: cover;
        background-position-x: -75px;
    }

    #wellington-bus-thumb {
        width: 80%;
        height: 100px;
        background-size: cover;
        background-position-x: -85px;
    }

    #wellington-rentals-thumb {
        width: 80%;
        height: 100px;
        background-size: cover;
    }

    #wellington-airport-thumb {
        width: 80%;
        height: 100px;
        background-size: cover;
    }

    #gallery-welcome {
        width: 100%;
    }
    
    #gallery-photos {
        clear: both;
        line-height: 0;
        column-count: 2;
        column-gap: 0;
    }

    #logo {
        float: none;
        width: 50%;
        margin-left: 25%;
    }

    #nav-wrapper {
        float: none;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 175px;
    }

    #nav-container {
        height: 175px;
    }

    #nav-home-inner-box {
        margin: 0;
        padding: 0;
        width: 19%;
        height: 20%;
        display: flex;
    }

    #nav-things-to-do-inner-box {
        margin: 0;
        padding: 0;
        width: 19%;
        height: 20%;
        display: flex;
        margin-top: 60px;
    }

    #nav-getting-around-inner-box {
        margin: 0;
        padding: 0;
        width: 19%;
        height: 20%;
        display: flex;
        margin-top: 60px;
    }

    #nav-gallery-inner-box {
        margin: 0;
        padding: 0;
        width: 19%;
        height: 20%;
        display: flex;
        margin-top: 60px;
    }

    #nav-contact-us-inner-box {
        margin: 0;
        padding: 0;
        width: 19%;
        height: 20%;
        display: flex;
        margin-top: 60px;
    }

    .nav-outter-box {
        width: 19%;
        height: 20%;
        margin: 0;
        margin-top: 40px;
        bottom: 0;
        position: relative;
    }

    #contact-us-stamp {
        width: 19%;
        margin-top: 19.5px;
    }
    
    #gallery-stamp {
        width: 19%;
        margin-top: 19.5px;
    }
    
    #getting-around-stamp {
        width: 19%;
        margin-top: 19.5px;
    }
    
    #things-to-do-stamp {
        width: 19%;
        margin-top: 19.5px;
    }
    
    #home-stamp {
        width: 19%;
        margin-top: 19.5px;
    }
    
    #contact-us-stamp-select {
        width: 19%;
        margin-top: 19.5px;
    }
    
    #gallery-stamp-select {
        width: 19%;
        margin-top: 19.5px;
    }
    
    #getting-around-stamp-select {
        width: 19%;
        margin-top: 19.5px;
    }
    
    #things-to-do-stamp-select {
        width: 19%;
        margin-top: 19.5px;
    }
    
    #home-stamp-select {
        width: 19%;
        margin-top: 19.5px;
    }

    .form-input-text-field, textarea {
        width: 200px;
    }

    #zealandia-section {
        margin-bottom: 75%;
    }

    #getting-around-text-airport {
        margin-bottom: 75%;
    }

    #gallery-welcome {
        margin-bottom: 75%;
    }

}
