@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: open sans, helvetica, sans serif;
    color: whitesmoke;
}

h1, h2 {
    font-family: 'Kaushan Script', cursive;
    color: rgb(255, 208, 0);
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

#logo {
    width: 225px;
    margin-left: 10%;
    float: left;
    margin-top: 10px;
    position: absolute;
}

a {
    text-decoration: none;
    color: rgb(255, 208, 0);
}

/* ----- Nav Stamp Styles ----- */

#nav-wrapper {
    float: right;
    margin-right: 0;
    height: 120px;
    width: 50%;
}

#nav-container {
    height: 120px;
    width: 100%;
    background-color: black;
    position: sticky;
}
.nav-outter-box {
    height: 100px;
    width: 20%;
    display: inline-block;
    margin: auto;
    text-align: center;
    position: relative;
    float: right;
}

.nav-outter-box > a {
    text-decoration: none;
    color: whitesmoke;
    display: inline;
}
#contact-us-stamp {
    height: 20px;
    width: 100%;
    background-color: magenta;
    margin: auto;
    margin-bottom: 30px;
}

#gallery-stamp {
    height: 20px;
    width: 100%;
    background-color: green;
    margin: auto;
    margin-bottom: 30px;
}

#getting-around-stamp {
    height: 20px;
    width: 100%;
    background-color: yellow;
    margin: auto;
    margin-bottom: 30px;
}

#things-to-do-stamp {
    height: 20px;
    width: 100%;
    background-color: blue;
    margin: auto;
    margin-bottom: 30px;
}

#home-stamp {
    height: 20px;
    width: 100%;
    background-color: red;
    margin: auto;
    margin-bottom: 30px;
}

#contact-us-stamp-select {
    height: 40px;
    width: 100%;
    background-color: magenta;
    margin: auto;
    margin-bottom: 10px;
}

#gallery-stamp-select {
    height: 40px;
    width: 100%;
    background-color: green;
    margin: auto;
    margin-bottom: 10px;
}

#getting-around-stamp-select {
    height: 40px;
    width: 100%;
    background-color: yellow;
    margin: auto;
    margin-bottom: 10px;
}

#things-to-do-stamp-select {
    height: 40px;
    width: 100%;
    background-color: blue;
    margin: auto;
    margin-bottom: 10px;
}

#home-stamp-select {
    height: 40px;
    width: 100%;
    background-color: red;
    margin: auto;
    margin-bottom: 10px;
}

/* ----- Footer Styles ----- */

footer {
    margin-top: auto;
    height: 70px;
    width: 100%;
    background-color: black;
    position: fixed;
    bottom: 0;
}

#social-media-link-container {
    margin: auto;
    margin-left: 10%;
}

#social-media-link-container > h2 {
    float: left;
    padding-right: 2%;
    margin-top: 17.5px;
}

#social-media-link > a {
    width: 40px;
    padding-right: 2%;
    display: inline-block;
    float: left;
    margin-top: 15px;
}

/* ----- Home Page Styles ----- */

#welcome-container {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

#welcome {
    width: 90%;
    position: relative;
    margin: auto;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#home-welcome {
    width: 90%;
    position: relative;
    margin: auto;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#welcome-content {
    width: 80%;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 2px solid darkgray;
}

#index-body-image {
    background: url(../images/wellington-city-from-mt-vic-2.jpg) no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
}

/* ----- Things To Do Styles ----- */

#things-to-do-body-image {
    background: url(../images/wellington-city-from-mt-vic-3.jpg) no-repeat center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: fixed;
}

.things-to-do-text {
    text-align: justify;
    width: 75%;
    float: right;
}

#te-papa-text {
    display: inline-block; 
    width: 100%;
}

#welly-trails-text {
    display: inline-block; 
    width: 100%;
}

#zealandia-text {
    display: inline-block; 
    width: 100%;
}

#bot-gardens-text {
    display: inline-block; 
    width: 100%;
}

#weta-workshop-text {
    display: inline-block; 
    width: 100%;
}

#te-papa-section {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-right: 10%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid darkgray;
    float: right;
}

#te-papa-thumb {
    height: 200px;
    width: 200px;
    background-image: url(../images/te-papa-thumb.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 5px solid darkgray;
    float: left;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#bot-gardens-section {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid darkgray;
    float: left;
}

#bot-gardens-thumb {
    height: 200px;
    width: 200px;
    background-image: url(../images/bot-gardens-thumb.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 5px solid darkgray;
    float: left;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#welly-trails-section {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-right: 10%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid darkgray;
    float: right;
}

#welly-trails-thumb {
    height: 200px;
    width: 200px;
    background-image: url(../images/wellington-trails-thumb.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 5px solid darkgray;
    float: left;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#weta-workshop-section {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid darkgray;
    float: left;
}

#weta-workshop-thumb {
    height: 200px;
    width: 200px;
    background-image: url(../images/weta-workshop-thumb.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 5px solid darkgray;
    float: left;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#zealandia-section {
    width: 60%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-right: 8%;
    margin-top: 5%;
    margin-bottom: 8%;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid darkgray;
    float: right;
}

#zealandia-thumb {
    height: 200px;
    width: 200px;
    background-image: url(../images/zealandia-thumb.jpg);
    background-size: cover;
    border-radius: 50%;
    border: 5px solid darkgray;
    float: left;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

/* ----- Getting Around Styles ----- */

#getting-around-body-image {
    width: 100%;
    height: 100%;
    background: url(../images/wellington-cable-car.jpg) no-repeat center center;
    background-size: cover;
    position: fixed;
}

#main-body-section {
    width: 90%;
    position: relative;
    margin: auto;
}

#wellington-trains-thumb {
    background-image: url(../images/wellington-trains.jpg);
    background-repeat: no-repeat;
    width: 50%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 10px;
    border: 2px solid darkgray;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#wellington-bus-thumb {
    background-image: url(../images/wellington-buses.jpg);
    width: 50%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 10px;
    border: 2px solid darkgray;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#wellington-rentals-thumb {
    background-image: url(../images/wellington-rentals.jpg);
    width: 50%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 10px;
    border: 2px solid darkgray;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#wellington-airport-thumb {
    background-image: url(../images/wellington-airport.jpg);
    width: 50%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 10px;
    border: 2px solid darkgray;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}

#wellington-trains-body-content {
    width: 80%;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 2px solid darkgray;
}

#wellington-bus-body-content {
    width: 80%;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 2px solid darkgray;
}

#wellington-rentals-body-content {
    width: 80%;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 2px solid darkgray;
}

#body-content-bottom {
    width: 80%;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 2px solid darkgray;
}

#wellington-airport-body-content {
    width: 80%;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 15%;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    border: 2px solid darkgray;
}

/* ----- Gallery Styles ----- */

#gallery > h1 {
    font-size: 250%;
    text-align: center;
    position: relative;
    margin-bottom: 2%;
}

#gallery {
    margin-bottom: 5%;
}

#gallery-container {
    background-color: black;
}

#gallery-welcome {    
    width: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    position: relative;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 15%;
    border-radius: 10px;
    border: 2px solid darkgray;
}

/* ----- Code taken from CI Love Running project Start ----- */

#gallery-photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

/* ----- Code taken from CI Love Running project End ----- */

#gallery-photos > img {
    width: 100%;
}

/* ----- Contact Us Styles ----- */

#contact-us-welcome {
    width: 90%;
    position: relative;
    margin: auto;
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#contact-us-body-image {
    width: 100%;
    height: 100%;
    background: url(../images/wellington-city-bucket-fountain.png) no-repeat center center;
    background-size: cover;
    position: fixed;
}

.form-button {
    width: 100px;
    height: 25px;
    background-color: rgb(255, 208, 0);
    font-weight: bold;
}

.form-button:hover {
    background-color: black;
    color: rgb(255, 208, 0);
}

.form-input-text-field {
    width: 300px;
    height: 30px;
    text-align: center;
    border: 1px solid darkgray;
}

textarea {
    width: 600px;
    height: 150px;
}

label, input, textarea {
    margin-bottom: 1%;
}

/* ----- Responsive Medium Screen Styles ----- */

@media screen and (max-width: 1900px) {
    
    #gallery-photos {
        clear: both;
        line-height: 0;
        column-count: 3;
        column-gap: 0;
    }

    .things-to-do-text {
        width: 100%;
        text-align: center;
        margin: auto;
        float: none;
        margin-top: 20px;
    }

    #things-to-do-welcome {
        margin-bottom: 5%;
    }

    #te-papa-section {
        width: 75%;
        margin: auto;
        float: none;
    }

    #bot-gardens-section {
        width: 75%;
        margin: auto;
        float: none;
        margin-top: 20px;
    }

    #weta-workshop-section {
        width: 75%;
        margin: auto;
        float: none;
        margin-top: 20px;
    }

    #welly-trails-section {
        width: 75%;
        margin: auto;
        float: none;
        margin-top: 20px;
    }

    #zealandia-section {
        width: 75%;
        margin: auto;
        float: none;
        margin-top: 20px;
        margin-bottom: 15%;
    }

    #te-papa-thumb {
        width: 100px;
        height: 100px;
        margin: auto;
        float: none;
    }

    #bot-gardens-thumb {
        width: 100px;
        height: 100px;
        margin: auto;
        float: none;
    }

    #welly-trails-thumb {
        width: 100px;
        height: 100px;
        margin: auto;
        float: none;
    }

    #weta-workshop-thumb {
        width: 100px;
        height: 100px;
        margin: auto;
        float: none;
    }

    #zealandia-thumb {
        width: 100px;
        height: 100px;
        margin: auto;
        float: none;
    }

    #wellington-airport-thumb {
        width: 75%;
        height: 125px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #wellington-rentals-thumb {
        width: 75%;
        height: 125px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #wellington-bus-thumb {
        width: 75%;
        height: 125px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #wellington-trains-thumb {
        width: 75%;
        height: 125px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    #contact-us-body-image {
        width: 100%;
        height: 100%;
        background: url(../images/wellington-city-bucket-fountain.png) no-repeat center center;
        background-size: cover;
        position: fixed;
    }

    textarea {
        width: 400px;
        height: 100px;
    }

}

/* ----- Responsive Small Screen Styles ----- */

@media screen and (max-width: 580px) {
    


    #logo {
    width: 30%;
    margin-left: 35%;
    margin-top: 3%;
}

    #nav-wrapper {
        height: 170px;
        width: 100%;
        margin-top: 90px;
    }
    
    #nav-container {
        height: 170px;
        width: 100%;
        background-color: black;
        position: sticky;
        top: 0;
    }
    .nav-outter-box {
        height: 100px;
        width: 20%;
        display: inline-block;
        margin: auto;
        text-align: center;
        position: relative;
        float: right;
    }
    
    .nav-outter-box > a {
        text-decoration: none;
        color: whitesmoke;
        display: inline;
    }
    #contact-us-stamp {
        height: 10px;
        margin-bottom: 20px;
    }
    
    #gallery-stamp {
        height: 10px;
        margin-bottom: 20px;
    }
    
    #getting-around-stamp {
        height: 10px;
        margin-bottom: 20px;
    }
    
    #things-to-do-stamp {
        height: 10px;
        margin-bottom: 20px;
    }
    
    #home-stamp {
        height: 10px;
        margin-bottom: 20px;
    }
    
    #contact-us-stamp-select {
        height: 20px;
        margin-bottom: 10px;
    }
    
    #gallery-stamp-select {
        height: 20px;
        margin-bottom: 10px;
    }
    
    #getting-around-stamp-select {
        height: 20px;
        margin-bottom: 10px;
    }
    
    #things-to-do-stamp-select {
        height: 20px;
        margin-bottom: 10px;
    }
    
    #home-stamp-select {
        height: 20px;
        margin-bottom: 10px;
    }

    #gallery-photos {
        clear: both;
        line-height: 0;
        column-count: 2;
        column-gap: 0;
    }
    
    textarea {
        width: 200px;
        height: 150px;
    }

    .form-input-text-field {
        width: 200px;
    }

    #te-papa-section {
        width: 70%;
    }

    #bot-gardens-section {
        width: 70%;
    }

    #weta-workshop-section {
        width: 70%;
    }

    #welly-trails-section {
        width: 70%;
    }

    #zealandia-section {
        width: 70%;
        margin-bottom: 30%;
    }

    #wellington-airport-thumb {
        width: 75%;
        height: 60px;
    }

    #wellington-rentals-thumb {
        width: 75%;
        height: 60px;
    }

    #wellington-bus-thumb {
        width: 75%;
        height: 60px;
    }

    #wellington-trains-thumb {
        width: 75%;
        height: 60px;
    }

    #wellington-airport-body-content {
        margin-bottom: 30%;
    }

    #home-welcome {
        margin-bottom: 30%;
    }

    #gallery {
        margin-bottom: 30%;
    }

    #gallery > h1 {
        font-size: 200%;
    }

    #contact-us-welcome {
        margin-bottom: 30%;
    }
}

@media screen and (max-width: 410px) {
    


    #logo {
    width: 40%;
    margin-left: 30%;
    margin-top: 5%;
}

}