@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: open sans, helvetica, sans serif;
    color: darkgray;
}
.header {
    height: 200px;
    background-color: black;
}

.index-body {
    height: 500px;
    background-color: red;
}

.things-to-do-body {
    height: 500px;
    background-color: magenta;
}

.getting-around-body {
    height: 500px;
    background-color: green;
}

.gallery-body {
    height: 500px;
    background-color: orange;
}

.contact-us-body {
    height: 500px;
    background-color: blue;
}

.footer {
    height: 75px;
    background-color: black;
}

#logo {
    float: left;
    padding-left: 250px;
    padding-top: 25px;
    height: 150px;
}

ul {
    padding-right: 250px;
    float: right;
}

ul > li {
    float: right;
    padding-right: 35px;
    padding-top: 150px;
    list-style-type: none;
}

#body-image {
    width: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}

#box1 {
    height: 200px;
    width: 200px;
    background-color: green;
    position: absolute;
}

#box2 {
    height: 150px;
    width: 150px;
    background-color: blue;
    position: absolute;
    margin: 25px;
}

#box3 {
    height: 125px;
    width: 125px;
    background-color: red;
    position: absolute;
    margin: 12.5px;
}

#box4 {
    height: 100px;
    width: 100px;
    background-color: yellow;
    position: absolute;
    margin: 12.5px;
}

#test-link {
    position: absolute;
    text-align: center;
}